<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <h1>Dashboard</h1>
    <form action="/chat">
        <button type="submit">Join Chat</button>
    </form>
    <a href="/api/user/profile/<%=curUsername%>">
        <button>Profile</button>
    </a>
    <hr>
    <div>
        <% for(user of users){ if(user.username !==curUsername){ %>
            <div>
                <span>
                    <%= user.username %>
                </span>
                <a href="/chat">
                    <button>Chat</button>
                </a>
            </div>
            <% }} %>
    </div>
</body>