
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
   <% if (messages.logoutMsg) { %>
      <div class="alert alert-info">
          <%= messages.logoutMsg %>
      </div>
      <% } %>
    <h1>Home</h1>
    <a href="/register">
        <button>Register</button>
     </a>
     <a href="/login">
        <button>Login</button>
     </a>
</body>